<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="css/home.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
    <title>Documents</title>
</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4"></h1>

                <div class="btn-group">
                    <a th:href="@{/index?filter=day}" class="btn btn-primary"
                        th:classappend="${filter.equals('1') ? 'active' : ''}" aria-current="page">Day</a>
                    <a th:href="@{/index?filter=week}" class="btn btn-primary"
                        th:classappend="${filter.equals('1') ? 'active' : ''}" aria-current="page">Week</a>
                    <a th:href="@{/index?filter=Month}" class="btn btn-primary"
                        th:classappend="${filter.equals('1') ? 'active' : ''}" aria-current="page">Month</a>
                    <a th:href="@{/index?filter=all}" class="btn btn-primary"
                        th:classappend="${filter.equals('all') ? 'active' : ''}" aria-current="page">All</a>
                </div>

                <h1 class="my-4"></h1>

                <div class="list-group">
                    <a th:each="doc : ${indexDocuments}" th:href="@{/index/{documentId}(documentId=${doc.getId()})}"
                        class="list-group-item list-group-item-action" aria-current="true"
                        th:classappend="${doc.getId().equals(id) ? 'active' : ''}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${doc.getTitle()}"></h5>
                        </div>
                        <p class="mb-1" th:text="${doc.getDescription()}"></p>
                        <small class="x-format-date"
                            th:text="${doc.getSystemObject().get('modified_on').get('iso_8601').textValue()}"></small>
                    </a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9" th:if="${document != null}">

                <div>
                    <h2 class="mb-1" th:text="${document.getTitle()}"></h2>
                    <h2 class="mb-3" th:text="${document.getDescription()}"></h2>
                    <h2 class="mb-3" th:each="customMetadataTag : ${document.get('metadata')}"
                        th:text="${customMetadataTag.get('name').concat(': ').concat(customMetadataTag.get('value'))}">
                    </h2>
                </div>

                <!--  
                    each relator document's "default" attachment
                -->

                <!-- <a th:each="attachment : ${attachments}" th:href="@{/index/{documentId}(documentId=${attachment.document.getId()})}" th:text="${attachment.document.getId()}"></a> -->
                <div th:each="attachment: ${attachments}">
                    <div th:if="${attachment.isVideo}">
                        <h2>VIDEO</h2>
                    </div>
                    <div th:if="${attachment.isAudio}">
                        <h2>AUDIO</h2>
                    </div>
                    <div th:if="${attachment.isPdf}">
                        <h2>PDF</h2>
                    </div>
                </div>
                <!--  
                    /each relator document's "default" attachment
                -->












                
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Item One</a>
                                </h4>
                                <h5>$24.99</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                                    numquam aspernatur!
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Item One</a>
                                </h4>
                                <h5>$24.99</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                                    numquam aspernatur!
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Item Two</a>
                                </h4>
                                <h5>$24.99</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                                    numquam aspernatur!
                                    Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Item Three</a>
                                </h4>
                                <h5>$24.99</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                                    numquam aspernatur!
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        $(".x-format-date").each(function (index) {
            $(this).text(moment($(this).text()).format('LLLL'));
        });        
    </script>
</body>

</html>