<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Physician Communication</title>

    <link rel="icon" th:href="@{/favicon.png}" type="image/x-icon" />
    <link rel="apple-touch-icon" th:href="@{/assets/images/apple-touch-icon.png}" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/images/apple-touch-icon-76x76.png}" />
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/images/apple-touch-icon-120x120.png}" />
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/assets/images/apple-touch-icon-152x152.png}" />
    <link rel="apple-touch-icon-precomposed" th:href="@{/assets/images/apple-touch-icon-152x152.png}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link th:if="${hasVideo}" href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{/css/bootstrap-theme2.min.css}" type="text/css">
    <!-- <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.4/pdfobject.min.js"
        integrity="sha512-mW7siBAOOJTkMl77cTke1Krn+Wz8DJrjMzlKaorrGeGecq0DPUq28KgMrX060xQQOGjcl7MSSep+/1FOprNltw=="
        crossorigin="anonymous">
    </script>
</head>

<body>
    <nav class="navbar navbar-light bg-light col-sm-12">
        <div class="container-fluid">
            <div class="justify-content-start" id="navbarSupportedContent">
                <form class="d-flex" method="GET" th:action="@{/documents}">
                    <input class="form-control me-2" name="searchText" id="searchText" th:value="${searchText}" placeholder="Search.." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" value="search">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- <p>_<span th:text="${document.getId()}"></span>_</p> -->
    <!-- <p th:text="${indexDocuments}"></p> -->

    <div id="main" class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-sm-12 mt-1 px-1">
                <div class="list-group">
                    <a th:each="doc : ${indexDocuments}" th:href="@{/documents/{documentId}(documentId=${doc.getId()})}"
                        th:text="${doc.title}" class="list-group-item list-group-item-action" aria-current="true"
                        th:classappend="${doc.getId().equals(document == null ? '' : documentId) ? 'active' : ''}">

                        <!-- <div class="d-flex justify-content-between">
                            <h5 class="" th:text="${doc.title}"></h5>
                        </div>

                        <p th:if="${doc.description != ''}" class="" th:text="${doc.description}"></p> -->

                        <!-- <p><small class="x-format-date"
                            th:text="${doc.getSystemObject().get('modified_on').get('iso_8601').textValue()}"></small></p> -->
                    </a>
                </div>

            </div>

            <div th:if="${document != null}" class="col-xl-9 col-md-8 col-sm-12 px-1">
                <div class="card px-1 py-1 mx-1 my-1">
                    <div class="card-body px-1 py-0 mx-0 my-0">
                        <h2 th:text="${document.title}"></h2>
                        <h5 class="x-format-date"
                            th:text="${document.getSystemObject().get('modified_on').get('iso_8601').textValue()}"></h5>

                        <h5 th:each="customMetadataTag : ${document.get('metadata')}" th:text="${customMetadataTag.get('name') + ': ' + customMetadataTag.get('value')}"></h5>                        
                    </div>
                </div>

                <div class="card p-0 m-1" th:each="attachment, attachmentIndex: ${attachments}"
                    th:attr="data-davita-type=${attachment.mimetype}">

                    <div class="card-body" th:inline="JavaScript" th:if="${attachment.isVideo}">
                        <!-- Video content -->
                        <video-js ____width="100%" height="auto" __style="overflow: hidden;"
                            th:id="'video'+${attachmentIndex.index}" class="video-js vjs-default-skin"
                            data-setup='{"controls": true, "fluid": true, "autoplay": false, "preload": "auto"}'>
                            <source th:src="'/attachment/'+ ${attachment.id} + '?attachmentId=default'"
                                th:attr="type=${attachment.mimetype}" />
                        </video-js>
                    </div>

                    <div class="card-body" th:if="${attachment.isAudio}">
                        <!-- Audio content -->
                        <audio th:id="'audio'+${attachmentIndex.index}" class="audio-js" controls preload="auto"
                            width="100%">
                            <source th:src="'/attachment/'+ ${attachment.id} + '?attachmentId=default'"
                                th:attr="type=${attachment.mimetype}" />
                        </audio>
                    </div>

                    <div th:if="${attachment.isPdf}">
                        <!-- PDF content -->
                        <div th:id="'pdf'+${attachmentIndex.index}">
                        </div>

                        <script th:inline="JavaScript">
                            var link = "[('/attachment/'+ ${attachment.id} + '?attachmentId=default')]";
                            PDFObject.embed(link, [['#pdf' + ${ attachmentIndex.index }]], {
                                height: "900px",
                                forcePDFJS: true
                            });
                        </script>
                    </div>

                    <div class="card-body" th:if="${attachment.isImage}">
                        <!-- Image content -->
                        <img class="img" th:attr="src='/attachment/'+ ${attachment.id} + '?attachmentId=default'">
                    </div>

                    <div th:if="${attachment.isOther}">
                        <!-- Other type of content -->
                        <div th:id="'doc'+${attachmentIndex.index}">
                            <p>
                                <span>Download </span><a th:href="@{/preview/{documentId}?attachmentId=default&mimetype=application/pdf&size=500(documentId=${attachment.id})}" th:text="${attachment.title}"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        // format dates
        $(".x-format-date").each(function (index) {
            $(this).text(moment($(this).text()).format('L'));
        });
    </script>
    <script th:if="${hasVideo || hasAudio}" src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script th:if="${@environment.getProperty('pendo.enabled')}" th:inline="JavaScript">
            (function (apiKey) {
                (function (p, e, n, d, o) {
                    var v, w, x, y, z; o = p[d] = p[d] || {}; o._q = o._q || [];
                    v = ['initialize', 'identify', 'updateOptions', 'pageLoad', 'track']; for (w = 0, x = v.length; w < x; ++w)(function (m) {
                        o[m] = o[m] || function () { o._q[m === v[0] ? 'unshift' : 'push']([m].concat([].slice.call(arguments, 0))); };
                    })(v[w]);
                    y = e.createElement(n); y.async = !0; y.src = 'https://cdn.pendo.io/agent/static/' + apiKey + '/pendo.js';
                    z = e.getElementsByTagName(n)[0]; z.parentNode.insertBefore(y, z);
                })(window, document, 'script', 'pendo');

                // Call this whenever information about your visitors becomes available
                // Please use Strings, Numbers, or Bools for value types.
                pendo.initialize({
                    visitor: {
                        id: '[(${userId})]',   // Required if user is logged in
                        email: '[(${userEmail})]',        // Recommended if using Pendo Feedback, or NPS Email
                        full_name: '[(${userName})]',   // Recommended if using Pendo Feedback
                        role: '[(${userRoles})]'        // Optional

                        // You can add any additional visitor level key-values here,
                        // as long as it's not one of the above reserved names.
                    },

                    account: {
                        id: 'document-consumer-account' // Highly recommended
                        // name:         // Optional
                        // is_paying:    // Recommended if using Pendo Feedback
                        // monthly_value:// Recommended if using Pendo Feedback
                        // planLevel:    // Optional
                        // planPrice:    // Optional
                        // creationDate: // Optional

                        // You can add any additional account level key-values here,
                        // as long as it's not one of the above reserved names.
                    }
                });
            })([[${@environment.getProperty('pendo.apiKey') } ]]);
    </script>
    <script th:if="${@environment.getProperty('keycloak-js.enabled')}"
        th:attr="src=${@environment.getProperty('keycloak-js.location')}">
        </script>

    <script th:if="${@environment.getProperty('keycloak-js.enabled')}">
        $(document).ready(function () {
            var keycloak = new Keycloak();
            keycloak.init().then(function (authenticated) {
                alert(authenticated ? 'authenticated' : 'not authenticated');
            }).catch(function () {
                alert('failed to initialize');
            });
        });        
    </script>
</body>

</html>