<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Physician Communication</title>

    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-152x152.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <link th:if="${hasVideo}" href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/home.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.4/pdfobject.min.js"
        integrity="sha512-mW7siBAOOJTkMl77cTke1Krn+Wz8DJrjMzlKaorrGeGecq0DPUq28KgMrX060xQQOGjcl7MSSep+/1FOprNltw=="
        crossorigin="anonymous">
        </script>
</head>

<body>
    <div class="container-fluid gx-0 gy-0 b-0 p-0 mt-1">
        <div class="row gx-0 gy-0 b-0 p-0 m-0">
            <div class="col gx-0 gy-0 b-0 p-0 m-0 text-center">
                <button type="submit" class="btn btn-primary m-1 p-0 pl-1"
                    th:classappend="${rangeFilter.equals('1') ? 'active' : ''}" aria-current="page">
                    <a th:href="@{/index?rangeFilter=1}"></a>Day</button>

                <button type="button" th:href="@{/index?rangeFilter=7}" class="btn btn-primary filter m-1 p-0 pl-1"
                    th:classappend="${rangeFilter.equals('7') ? 'active' : ''}" aria-current="page">Week</button>
                <button type="button" th:href="@{/index?rangeFilter=30}" class="btn btn-primary filter m-1 p-0 pl-1"
                    th:classappend="${rangeFilter.equals('30') ? 'active' : ''}" aria-current="page">Month</button>
            </div>

            <div class="col-12 gx-0 gy-0 b-0 p-0 m-0 text-center">
                <button th:each="tag : ${tags}" th:href="@{/index(tagFilter=${tag.get('tag')})}"
                    th:text="${tag.get('title')}" class="btn btn-primary m-1 mt-0 mb-0 p-1"
                    th:classappend="${tagFilter}" aria-current="page">
                </button>
            </div>
        </div>
    </div>

    <!-- <p>_<span th:text="${document.getId()}"></span>_</p>
    <p th:text="${indexDocuments}"></p> -->

    <div class="container-fluid">
        <div class="row gx-1 gy-1">
            <div class="col-xl-3 col-md-4 col-sm-12 gx-1 gy-1 vh-25">
                <div class="list-group" height=100px>
                    <a th:each="doc : ${indexDocuments}" th:href="@{/index/{documentId}(documentId=${doc.getId()})}"
                        class="list-group-item list-group-item-action m-1" aria-current="true"
                        th:classappend="${doc.getId().equals(document.getId()) ? 'active' : ''}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${doc.title}"></h5>
                        </div>

                        <p th:if="${doc.description != ''}" class="m-1" th:text="${doc.description}"></p>

                        <small class="x-format-date"
                            th:text="${doc.getSystemObject().get('modified_on').get('iso_8601').textValue()}"></small>
                    </a>
                </div>

            </div>

            <div class="col-xl-9 col-md-8 col-sm-12">
                <div class="card"
                    th:if="${document == null && document.get('metadata') && document.get('metadata').size()>0}">
                    <div class="card-body">
                        <table class="table-sm table-borderless m-0 p-0 gy-0 gy-0">
                            <tbody>
                                <tr th:each="customMetadataTag : ${document.get('metadata')}">
                                    <td class="text-start p-0" style="width: 125px;"
                                        th:text="${customMetadataTag.get('name')}">
                                    </td>
                                    <td class="text-start p-0" th:text="${customMetadataTag.get('value')}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card" th:each="attachment, attachmentIndex: ${attachments}"
                    th:attr="data-davita-type=${attachment.mimetype}">

                    <div class="card-body md-4 p-0 m-0 gx-0 gy-0" th:inline="JavaScript" th:if="${attachment.isVideo}">
                        <!-- Video content -->
                        <video-js __width="100%" __style="overflow: hidden;" th:id="'video'+${attachmentIndex.index}"
                            class="video-js" data-setup='{"controls": true, "autoplay": false, "preload": "auto"}'>
                            <source th:src="'/attachment/'+ ${attachment.id} + '?attachmentId=default'"
                                th:attr="type=${attachment.mimetype}" />
                        </video-js>
                    </div>

                    <div class="card-body" th:if="${attachment.isAudio}">
                        <!-- Audio content -->
                        <audio th:id="'audio'+${attachmentIndex.index}" class="video-js" controls preload="auto"
                            width="100%">
                            <source th:src="'/attachment/'+ ${attachment.id} + '?attachmentId=default'"
                                th:attr="type=${attachment.mimetype}" />
                        </audio>
                    </div>

                    <div th:if="${attachment.isPdf}">
                        <!-- PDF content -->
                        <div th:id="'pdf'+${attachmentIndex.index}">
                        </div>

                        <script th:inline="JavaScript">
                            var link = "[('/attachment/'+ ${attachment.id} + '?attachmentId=default')]";
                            PDFObject.embed(link, [['#pdf' + ${ attachmentIndex.index }]], {
                                height: "900px",
                                forcePDFJS: true
                            });
                        </script>
                    </div>

                    <div class="card-body" th:if="${attachment.isImage}">
                        <!-- Image content -->
                        <img class="img" th:attr="src='/attachment/'+ ${attachment.id} + '?attachmentId=default'">
                    </div>

                    <div th:if="${attachment.isOther}">
                        <!-- Other type of content -->
                        <div th:id="'pdf'+${attachmentIndex.index}">
                        </div>

                        <script th:inline="JavaScript">
                            var link = "[('/preview/'+ ${attachment.id} + '?attachmentId=default&mimetype=application/pdf&size=400')]";
                            PDFObject.embed(link, [['#pdf' + ${ attachmentIndex.index }]], {
                                height: "900px",
                                forcePDFJS: true
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        // format dates
        $(".x-format-date").each(function (index) {
            $(this).text(moment($(this).text()).format('LLLL'));
        });

        // handle filter buttons
        $("button.filter").each(function (index) {
            this.addEventListener('click', function (e) {
                console.log("x");
            });
        })
    </script>
    <script th:if="${hasVideo || hasAudio}" src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script th:if="${@environment.getProperty('pendo.enabled')}" th:inline="JavaScript">
            (function (apiKey) {
                (function (p, e, n, d, o) {
                    var v, w, x, y, z; o = p[d] = p[d] || {}; o._q = o._q || [];
                    v = ['initialize', 'identify', 'updateOptions', 'pageLoad', 'track']; for (w = 0, x = v.length; w < x; ++w)(function (m) {
                        o[m] = o[m] || function () { o._q[m === v[0] ? 'unshift' : 'push']([m].concat([].slice.call(arguments, 0))); };
                    })(v[w]);
                    y = e.createElement(n); y.async = !0; y.src = 'https://cdn.pendo.io/agent/static/' + apiKey + '/pendo.js';
                    z = e.getElementsByTagName(n)[0]; z.parentNode.insertBefore(y, z);
                })(window, document, 'script', 'pendo');

                // Call this whenever information about your visitors becomes available
                // Please use Strings, Numbers, or Bools for value types.
                pendo.initialize({
                    visitor: {
                        id: 'harry'   // Required if user is logged in
                        // email:        // Recommended if using Pendo Feedback, or NPS Email
                        // full_name:    // Recommended if using Pendo Feedback
                        , role: 'consumer'        // Optional

                        // You can add any additional visitor level key-values here,
                        // as long as it's not one of the above reserved names.
                    },

                    account: {
                        id: 'document-consumer-account' // Highly recommended
                        // name:         // Optional
                        // is_paying:    // Recommended if using Pendo Feedback
                        // monthly_value:// Recommended if using Pendo Feedback
                        // planLevel:    // Optional
                        // planPrice:    // Optional
                        // creationDate: // Optional

                        // You can add any additional account level key-values here,
                        // as long as it's not one of the above reserved names.
                    }
                });
            })([[${@environment.getProperty('pendo.apiKey') } ]]);
    </script>

    <script th:if="${@environment.getProperty('keycloak-js.enabled')}"
        th:attr="src=${@environment.getProperty('keycloak-js.location')}">
        </script>

    <script th:if="${@environment.getProperty('keycloak-js.enabled')}">
        $(document).ready(function () {
            var keycloak = new Keycloak();
            keycloak.init().then(function (authenticated) {
                alert(authenticated ? 'authenticated' : 'not authenticated');
            }).catch(function () {
                alert('failed to initialize');
            });
        });        
    </script>
</body>

</html>