body {
    /* padding-top: 52px; */
    font-size: 90%;
}

/* h1 {
    font-size: 10vw;
}

h2 {
    font-size: 1.875em;
} */

p {
    /* font-size: 0.875em; */
    line-height: 3px;   /* within paragraph */
    margin-bottom: 3px; /* between paragraphs */
    }